@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Taller 01</h1>
    <br>
    <br>
    <br>
    <h3>Team D "Desarroladores"</h3>
    <br>
    <br>
    <h4>Integrantes del grupo:</h4>
    <p>Carlos Andrés Castaño Hernández</p>
    <p>Juan David Diaz Calero</p>
    <p>Angela Milena Mayorga Escobar</p> 
    <p>Leidy Rodas Alcaraz</p>
    <br>
    <br>
    <br>
    <br>
    <p>Ciclo 3 - Desarrollo de Software - Grupo 56</p>
</div>
