@page
@model FrontEnd.Pages.Clientes.AgregarModelCliente
@{
    Layout = "_LayoutAdmin";
}
<div class="text-center" style="padding-top: 2%;">
    <h2>Agregar Cliente</h2>
</div>
<br>
<div class="container border text-center">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Persona.Id">
        <input type="hidden" asp-for="Empresa.Id">
        <input type="hidden" asp-for="Cliente.Id">
        <input type="hidden" asp-for="Persona.EmpresaId">
        <input type="hidden" asp-for="Persona.Id">
        <input type="hidden" asp-for="Empresas">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Persona.Nombre">Nombres</label>
                <input asp-for="Persona.Nombre" class="form-control" placeholder="Nombre del cliente">
                <span class="text-danger" asp-validation-for="Persona.Nombre" style="width: 100%;"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Persona.PrimerApellido">Primer apellido</label>
                <input asp-for="Persona.PrimerApellido" class="form-control" placeholder="Primer apellido">
                <span class="text-danger" asp-validation-for="Persona.PrimerApellido" style="width: 100%;"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Persona.SegundoApellido">Segundo apellido</label>
                <input asp-for="Persona.SegundoApellido" class="form-control" placeholder="Segundo apellido">
                <span class="text-danger" asp-validation-for="Persona.SegundoApellido" style="width: 100%;"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="Persona.Documento">Documento</label>
                <input asp-for="Persona.Documento" class="form-control" placeholder="Documento">
                <span class="text-danger" asp-validation-for="Persona.Documento" style="width: 100%;"></span>
            </div>
            <div class="md-form col-md-4 md-outline input-with-post-icon datepicker">
                <label asp-for="Persona.FechaNacimiento">Fecha de nacimiento</label>
                <input asp-for="Persona.FechaNacimiento" placeholder="Selecciona la fecha de nacimiento"
                    class="form-control" max="System.DateTime.Now">
                <span class="text-danger" asp-validation-for="Persona.FechaNacimiento" style="width: 100%;"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Cliente.Telefono">Telefono</label>
                <input asp-for="Cliente.Telefono" class="form-control" placeholder="Telefono">
                <span class="text-danger" asp-validation-for="Cliente.Telefono" style="width: 100%;"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label asp-for="RazonSocial">Empresa donde realiza sus compras</label>
                <select asp-for="RazonSocial" class="form-control">
                    <option selected>@Model.Empresa.RazonSocial</option>
                    @foreach (var empresa in Model.Empresas)
                    {
                        @if (Model.Empresa.RazonSocial != empresa.RazonSocial)
                        {
                            <option>@empresa.RazonSocial</option>
                        }
                    }
                </select>
                <span class="text-danger" asp-validation-for="RazonSocial" style="width: 100%;"></span>
            </div>
        </div>
        <div>
            <a class="btn btn-primary table-btn" asp-page="./ListaClientes">
                Volver
            </a>
            <input type="submit" value="Agregar" class="btn btn-success">
        </div>
    </form>
</div>
