@page
@model FrontEnd.Pages.UsuarioActivo.ConfirmacionCambioClaveModel
@{
    Layout = "_LayoutAdmin";
}
<div class="text-center texto-confirmacion" style="padding-top: 2%;">
    <h2>La contraseña para el usuario @User.Identity.Name se modifico correctamente</h2>
</div>